<footer>
	<table class="footer">
		<tr>
      <td><%= link_to "",  uploads_path, class: "btn btn-transparent" %></td>
      <td><%= link_to "",  uploads_path, class: "btn btn-transparent" %></td>

      <td><%= link_to "Home",  uploads_path, class: "btn btn-primary" %></td>
      <br>
		</tr>
	</table>
</footer>






